@import "./form.css";


.form-acess {

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 68px);
    
}

.form-acess form {

    width: 300px;
    border: solid 3px var(--yellow);
    border-radius: 8px;
    background-color: var(--shadow);
    padding: 20px;
    

}

button#login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button#login-button:hover {
    background-color: var(--white);
}

/* Links abaixo do botão de login */
.login-section p {
    margin-top: 15px;
    font-size: 12px;
    color: var(--white);
}

#login-error {
    color: red;
    margin-top: 10px;
}

/* Estilo do link e texto para novas contas */
p a {
    color: #007bff;
    text-decoration: none;
}

.form-acess form p {

    margin-top: 10px;

}
