:root {

    --blue: #7dc2ff;
    --shadow: #2c2c2c;
    --red: #ff0000f3;
    --yellow: #f3f576 ;
    --black: #00000087;
    --white: #ffffff;
    --font-size: 16pt;
    --font-primary: 'nunito';
    --font-secundary: 'roboto';
    --degrade: #29252569;


}

