body {
    
    background-color: rgb(108, 108, 214);
    font-family: sans-serif;
    font-size: 19pt;

}

#logo img {

    height: 300px;
    width: 300px; 
    border-radius: 50%; 
    border: solid 4px white; 
    margin-top: 50pt;
    
}

#logo {

    text-align: center;

}

h1 {

    text-align: center;
    font-size: 2.5rem;

}

.links {

    text-align: center;
    margin-top: 10px;
    

}

.links a {

    background-color: #4a90e2; 
    display: flex;
    margin: 20px auto;
    padding: 15px 20px;
    width: 80%; /* Ajusta para telas pequenas */
    max-width: 400px; /* Limita o tamanho em telas grandes */
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    border: solid 2px whitesmoke;
    
}

.links a:hover {

    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    background-color: black; /* Altera a cor no hover */

}